*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
/* ----------------------------------------------------- */
nav {
    background-color: #444444;
    height: 150px;
    width: 100%;

    /* flex-end so burger goes to far right */
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
/* ----------header-LINKS---------- */
.header-links {
    width: 90%;
}
.header-links.show {
    display: block;
}
.header-links.hide {
    display: none;
}
/* ----------LINKS---------- */
.links {
    display: none;
    padding: 10px;
    width: 100%;
}
.links a {
    margin-bottom: 10px;
    text-decoration: none;
    color: red;
}
.links a:hover {
    transition: transform 1s ease-in-out;
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    text-decoration: underline;
}
/* ----------BURGER---------- */
.burger {
    width: 10%;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: white;
}
.burger.show {
    display: block;
}
.burger.hide {
    display: none;
}
/* ----------CLOSE---------- */
.close {
    position: relative;
    top: 5px;
    left: -65px;
    color: orange;
    font-weight: bold;
    font-size: 50px;
}
.close:hover {
    transition: transform 1s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(223, 9, 9);
    padding-left: 10px;
}
.close.show {
    display: block;
}
.close.hide {
    display: none;
}


/* MAIN */
/* ----------------------------------------------------- */

/* FOOTER */
/* ----------------------------------------------------- */

/* MEDIA QUERIES */
/* ----------------------------------------------------- */
/* @media screen and (min-width: 600px) {
  .header-links {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  .burger {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .header-links {
      display: none;
  }
  .burger.show {
      display: block;
  }
} */
  
  